.container.body-content.main-content {
    padding-top: 60px;
}

.well.ng-scope.main-panel {
    background-color: white;
}

h1.page-header {
    text-align: center;
}

.row.row-table {
    margin-right: 50px;
}

.message-error {
    color: red;    
}
.message-success {
    color: green;    
}