<div class="container-fluid">
    <!-- Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Athlete Sensor Data Management</h1>
            <h5><a ui-sref='customerEdit({ customerKey: null, formStatus: 1 })'>Add Athlete</a></h5>
        </div>
    </div>

    <!-- Rows -->
    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Athlete</th>
                            <th>Device</th>
                            <th>Vital</th>                            
                            <th>Activate</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>    
</div>